<div class="row">
    <a href="/" id="homePage"><i class="fa fa-home" aria-hidden="true"></i></a>
</div>

{{#if logged_in}}
<form id="itinCreate" class="create-update-form" action="/trips/create" method="POST">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="usersOrigin">Traveling from</label> <i class="fa fa-plane" aria-hidden="true"></i><br>
                    <input type="text" name="usersOrigin" class="form-control awesomplete" id="usersOrigin" placeholder="City, State (ex: Orlando,FL)*">
                </div>
                <div class="col-md-4">
                    <label for="usersDestination">Traveling to</label> <i class="fa fa-plane" aria-hidden="true"></i><br>
                    <input type="text" name="usersDestination" class="form-control awesomplete" id="usersDestination" placeholder="City, State (ex: Orlando,FL)*">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4"
                    <label for="departDate">Departing Date and Time</label>
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <input type="datetime-local" name="departDate" class="form-control" id="departDate">
                </div>
                <div class="col-md-4">
                    <label for="returnDate">Returning Date and Time</label>
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <input type="datetime-local" name="returnDate" class="form-control" id="returnDate">
                </div>
            </div>

         <div class="form-group">
             <div class="row">
                 <div class="col-md-3">
                     <label for="departFly">Departing Airline</label> <i class="fa fa-plane" aria-hidden="true"></i>
                     <input type="text" name="departFly" class="form-control" id="departFly">
                </div>
                 <div class="col-md-3">
                     <label for="flyNumber1">Flight Number</label>
                     <input type="text" name="flyNumber1" class="form-control" id="flyNumber1">
                </div>
                 <div class="col-md-3">
                     <label for="returnFly">Returning Airline </label> <i class="fa fa-plane" aria-hidden="true"></i>
                     <input type="text" name="returnFly" class="form-control" id="returnFly">
                </div>
                 <div class="col-md-3">
                     <label for="flyNumber2">Flight Number</label>
                     <input type="text" name="flyNumber2" class="form-control" id="flyNumber2">
                </div>
            </div>
        </div>

         <div class="form-group">
             <div class="row">
                 <div class="col-md-4">
                     <label for="hotel">Hotel/Rental</label> <i class="fa fa-hotel" aria-hidden="true"></i>
                     <input type="text" name="hotel" class="form-control" id="hotel">
                 </div>
                 <div class="col-md-4">
                     <label for="hotAddress">Hotel/Rental Address</label> <i class="fa fa-building" aria-hidden="true"></i>
                     <input type="text" name="hotAddress" class="form-control" id="hotAddress">
                 </div>
                 <div class="col-md-4">
                     <label for="hotPhone">Hotel/Rental Phone </label> <i class="fa fa-phone" aria-hidden="true"></i>
                     <input type="text" name="hotPhone" class="form-control" id="hotPhone">
                 </div>
             </div>
         </div>

     <div class="form-group">
         <div class="row">
             <div class="col-md-3">
                 <label for="volOrg">Volunteer Organization</label> <i class="fa fa-heart" aria-hidden="true"></i>
                 <input type="text" name="volOrg" class="form-control" id="volOrg">
             </div>
             <div class="col-md-3">
                 <label for="volDate">Event Date</label> <i class="fa fa-calendar" aria-hidden="true"></i>
                 <input type="datetime-local" name="volDate" class="form-control" id="volDate">
             </div>
             <div class="col-md-3">
                 <label for="volAddress">Organization Address</label> <i class="fa fa-institution" aria-hidden="true"></i>
                 <input type="text" name="volAddress" class="form-control" id="volAddress">
             </div>
             <div class="col-md-3">
                 <label for="volunteers">Number of Volunteers </label> <i class="fa fa-users" aria-hidden="true"></i>
                 <select id="volunteers" name="volunteers" class="form-control">
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>4</option>
                     <option>5</option>
                     <option>6</option>
                     <option>more than 6</option> <!-- if more than six have user specify a number -->
                 </select>
             </div>
         </div>
     </div>
        <button type="submit" class="waves-effect waves-light btn" id="submit3"><span class='fa fa-floppy-o' aria-hidden="true"> </span> Save</button>
        <p>*destinations are limited to the United States</p>
</form>


    <div class="row">
        <div id="saved">
            <h2>Your Saved Trip Itineraries</h2>
            <ul id="itineraryList">
                {{#each trips}}
                        <li>
                            Depart: {{this.usersOrigin}} <br>
                            Destination: {{this.usersDestination}} <br>
                            Depart Date: {{this.departDate}} <br>
                            Return Date: {{this.returnDate}} <br>
                            Departing Airline: {{this.departFly}} <br>
                            Depart Flight Number: {{this.flyNumber1}} <br>
                            Returning Airline: {{this.returnFly}} <br>
                            Return Flight Number: {{this.flyNumber2}} <br>
                            Hotel/Rental: {{this.hotel}} <br>
                            Hotel/Rental Address: {{this.hotAddress}} <br>
                            Hotel/Rental Phone: {{this.hotPhone}} <br>
                            Volunteer Organization: {{this.volOrg}} <br>
                            Event Date: {{this.volDate}} <br>
                            Organization Address: {{this.volAddress}} <br>
                            Number of Volunteers: {{this.volunteers}} <br>
                            <form action="delete/{{this.id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="delete" value="true">
                                <button type="submit" class="submit">Delete This Itinerary</button>
                            </form>
                        </li>
                {{/each}}
            </ul>
        </div>
    </div>
{{/if}}

